:root {
  --tokens-color-primary-50: #f8f5ff;
  --tokens-color-primary-100: #e2d6ff;
  --tokens-color-primary-200: #c8acff;
  --tokens-color-primary-300: #b48fff;
  --tokens-color-primary-400: #a172ff;
  --tokens-color-primary-500: #894fff;
  --tokens-color-primary-600: #6d35de;
  --tokens-color-gray-50: #f7f8f9;
  --tokens-color-gray-100: #e8ebed;
  --tokens-color-gray-200: #c9cdd2;
  --tokens-color-gray-300: #9ea4aa;
  --tokens-color-gray-400: #72787f;
  --tokens-color-gray-500: #4d5053;
  --tokens-color-gray-600: #34373a;
  --tokens-color-black-white-black: #1b1d1f;
  --tokens-color-black-white-white: #ffffff;
  --tokens-color-black-white-dim: rgba(52, 55, 58, 0.5);
  --tokens-color-success-50: #f5fbf8;
  --tokens-color-success-100: #e9fdf0;
  --tokens-color-success-200: #d1ffe1;
  --tokens-color-success-300: #b9f8cf;
  --tokens-color-success-400: #95e9b2;
  --tokens-color-success-500: #08875d;
  --tokens-color-success-600: #04724d;
  --tokens-color-informative-50: #f7faff;
  --tokens-color-informative-100: #edf3ff;
  --tokens-color-informative-200: #dae6ff;
  --tokens-color-informative-300: #c8daff;
  --tokens-color-informative-400: #b3ccff;
  --tokens-color-informative-500: #2f6fed;
  --tokens-color-informative-600: #0245cc;
  --tokens-color-danger-50: #fef3f2;
  --tokens-color-danger-100: #ffeaea;
  --tokens-color-danger-200: #ffdcdc;
  --tokens-color-danger-300: #fecfcf;
  --tokens-color-danger-400: #ffb8b8;
  --tokens-color-danger-500: #e02d3c;
  --tokens-color-danger-600: #b91c1c;
  --tokens-color-warning-50: #fffaeb;
  --tokens-color-warning-100: #fff5d7;
  --tokens-color-warning-200: #ffe7a6;
  --tokens-color-warning-300: #ffdf85;
  --tokens-color-warning-400: #f3cb5b;
  --tokens-color-warning-500: #d49c00;
  --tokens-color-warning-600: #8b6600;
  --tokens-spacing-spacing-1: 4px;
  --tokens-spacing-spacing-2: 8px;
  --tokens-spacing-spacing-3: 12px;
  --tokens-spacing-spacing-4: 16px;
  --tokens-spacing-spacing-5: 20px;
  --tokens-spacing-spacing-6: 24px;
  --tokens-spacing-spacing-7: 28px;
  --tokens-spacing-spacing-8: 32px;
  --tokens-spacing-spacing-9: 36px;
  --tokens-spacing-spacing-10: 40px;
  --tokens-spacing-spacing-11: 44px;
  --tokens-spacing-spacing-12: 48px;
  --tokens-spacing-spacing-13: 56px;
  --tokens-font-type: Pretendard;
  --tokens-text-12: 12px;
  --tokens-text-14: 14px;
  --tokens-text-16: 16px;
  --tokens-text-18: 18px;
  --tokens-text-24: 24px;
  --tokens-text-28: 28px;
  --tokens-text-32: 32px;
  --tokens-text-40: 40px;
  --tokens-text-60: 60px;
  --tokens-font-weight-regular: 400;
  --tokens-font-weight-medium: 500;
  --tokens-font-weight-bold: 700;
  --tokens-leading-16: 16px;
  --tokens-leading-20: 20px;
  --tokens-leading-24: 24px;
  --tokens-leading-26: 26px;
  --tokens-leading-34: 34px;
  --tokens-leading-42: 42px;
  --tokens-leading-52: 52px;
  --tokens-leading-72: 72px;
  --tokens-tracking-default: -0.4000000059604645px;
  --tokens-shadow-shadow-xs: 0px 1px 2px 0px rgba(51, 51, 51, 0.05);
  --tokens-shadow-shadow-sm: 0px 1px 2px 0px rgba(51, 51, 51, 0.06),
    0px 3px 3px 0px rgba(51, 51, 51, 0.1);
  --tokens-shadow-shadow-md: 0px 2px 4px -2px rgba(51, 51, 51, 0.06),
    0px 6px 8px -2px rgba(51, 51, 51, 0.1);
  --tokens-shadow-shadow-lg: 0px 4px 6px -2px rgba(51, 51, 51, 0.03),
    0px 12px 16px -4px rgba(51, 51, 51, 0.08);
  --tokens-shadow-shadow-xl: 0px 8px 8px -4px rgba(51, 51, 51, 0.03),
    0px 20px 24px -4px rgba(51, 51, 51, 0.08);
  --tokens-shadow-hamburger-menu: 10px 0px 30px 0px rgba(51, 51, 51, 0.15);

  /* Semantic Tokens */
  --color-primary-light-ghost: var(--tokens-color-primary-50);
  --color-primary-light: var(--tokens-color-primary-100);
  --color-primary-default: var(--tokens-color-primary-500);
  --color-primary-dark: var(--tokens-color-primary-600);
  --color-borders-primary: var(--tokens-color-primary-500);
  --color-borders-danger: var(--tokens-color-danger-500);
  --color-borders-lighter: var(--tokens-color-black-white-white);
  --color-borders-default: var(--tokens-color-gray-100);
  --color-borders-dark: var(--tokens-color-gray-300);
  --color-borders-darker: var(--tokens-color-gray-500);
  --color-danger-light-ghost: var(--tokens-color-danger-50);
  --color-danger-light: var(--tokens-color-danger-100);
  --color-danger-default: var(--tokens-color-danger-500);
  --color-danger-dark: var(--tokens-color-danger-600);
  --color-warning-light-ghost: var(--tokens-color-warning-50);
  --color-warning-default: var(--tokens-color-warning-500);
  --color-success-light-ghost: var(--tokens-color-success-50);
  --color-success-default: var(--tokens-color-success-500);
  --color-informative-light-ghost: var(--tokens-color-informative-50);
  --color-informative-default: var(--tokens-color-informative-500);
  --color-text-light-ghost: var(--tokens-color-gray-300);
  --color-text-light: var(--tokens-color-gray-500);
  --color-text-default: var(--tokens-color-black-white-black);
  --color-text-primary: var(--tokens-color-primary-500);
  --color-text-danger: var(--tokens-color-danger-500);
  --color-text-warning: var(--tokens-color-warning-500);
  --color-text-success: var(--tokens-color-success-500);
  --color-text-informative: var(--tokens-color-informative-500);
  --color-text-button-fill-text: var(--tokens-color-black-white-white);
  --color-gray-lighter: var(--tokens-color-black-white-white);
  --color-gray-light: var(--tokens-color-gray-50);
  --color-gray-default: var(--tokens-color-gray-100);
  --color-gray-dark: var(--tokens-color-gray-200);
  --color-gray-black: var(--tokens-color-black-white-black);
  --color-bg-light: var(--tokens-color-gray-50);
  --color-bg-default: var(--tokens-color-black-white-white);
  --color-bg-dark: var(--tokens-color-gray-100);
  --color-bg-dim: var(--tokens-color-black-white-dim);
  --radius-radius-xs: var(--tokens-spacing-spacing-1);
  --radius-radius-s: var(--tokens-spacing-spacing-2);
  --radius-radius-m: var(--tokens-spacing-spacing-3);
  --radius-radius-l: var(--tokens-spacing-spacing-4);
  --radius-radius-xl: var(--tokens-spacing-spacing-5);
  --spacing-gap-xs: var(--tokens-spacing-spacing-1);
  --spacing-gap-s: var(--tokens-spacing-spacing-2);
  --spacing-gap-m: var(--tokens-spacing-spacing-3);
  --spacing-gap-l: var(--tokens-spacing-spacing-4);
  --spacing-gap-xl: var(--tokens-spacing-spacing-5);
  --spacing-gap-xxl: var(--tokens-spacing-spacing-6);
  --spacing-padding-xs: var(--tokens-spacing-spacing-1);
  --spacing-padding-s: var(--tokens-spacing-spacing-2);
  --spacing-padding-m: var(--tokens-spacing-spacing-3);
  --spacing-padding-l: var(--tokens-spacing-spacing-4);
  --spacing-padding-xl: var(--tokens-spacing-spacing-5);
  --spacing-padding-xxl: var(--tokens-spacing-spacing-6);
  --font-weight-regular: var(--tokens-font-weight-regular);
  --font-weight-medium: var(--tokens-font-weight-medium);
  --font-weight-bold: var(--tokens-font-weight-bold);
  --text-head-xxl: var(--tokens-text-60);
  --leading-head-xxl: var(--tokens-leading-72);
  --tracking-head-xxl: var(--tokens-tracking-default);
  --text-head-xl: var(--tokens-text-40);
  --leading-head-xl: var(--tokens-leading-52);
  --tracking-head-xl: var(--tokens-tracking-default);
  --text-head-lg: var(--tokens-text-32);
  --leading-head-lg: var(--tokens-leading-42);
  --tracking-head-lg: var(--tokens-tracking-default);
  --text-head-md: var(--tokens-text-24);
  --leading-head-md: var(--tokens-leading-34);
  --tracking-head-md: var(--tokens-tracking-default);
  --text-head-sm: var(--tokens-text-18);
  --leading-head-sm: var(--tokens-leading-26);
  --tracking-head-sm: var(--tokens-tracking-default);
  --text-body-lg: var(--tokens-text-16);
  --leading-body-lg: var(--tokens-leading-24);
  --tracking-body-lg: var(--tokens-tracking-default);
  --text-body-md: var(--tokens-text-14);
  --leading-body-md: var(--tokens-leading-20);
  --tracking-body-md: var(--tokens-tracking-default);
  --text-body-sm: var(--tokens-text-12);
  --leading-body-sm: var(--tokens-leading-16);
  --tracking-body-sm: var(--tokens-tracking-default);
  --tracking-letter-spacing: var(--tokens-tracking-default);
  --shadow-shadow-xs: var(--tokens-shadow-shadow-xs);
  --shadow-shadow-sm: var(--tokens-shadow-shadow-sm);
  --shadow-shadow-md: var(--tokens-shadow-shadow-md);
  --shadow-shadow-lg: var(--tokens-shadow-shadow-lg);
  --shadow-shadow-xl: var(--tokens-shadow-shadow-xl);
  --shadow-hamburger-menu: var(--tokens-shadow-hamburger-menu);
}
